body{
    background-size: cover;
    background-image: url("../images/fondo3.jpg") ;

}
h1{
    color: yellow;
    font-size: 20vw;
}
.conteiner_form{
    margin: 5vw;
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.959);
    color: #f28d35;
    border: 1vw outset #f28d35;

}
.conteiner_form img{
    width: 30vw;
}
.conteiner_form h1{
    color: #f27830;
    font-size: 16px;
}
.conteiner_form form label img{
    width: 20px;
}
footer{
    position: fixed;
    bottom:0px;
    right: 0px;
    text-align: right;
    color: white;
    font-size: 14px;
}
footer p{
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.719);
}

