*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
body{
    background-size: cover;
    background-image: url("../images/fondo.jpg") ;
    font-family: 'Raleway', sans-serif; 
    /* Decidir entre Lato y Raleway o proponer otra fuente */
}
input:focus {
    border-color: blue;
    border-width: 3px;
  }
.InfoPersonal{
    margin-top: 16px;
    height: 200px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.959);
    color: #f28d35;
    text-align: left;
}
.datos_personales{
    padding-top: 60px;
    padding-left: 205px;
}
.nombre_empleado{
    font-family: 'Great Vibes', cursive;
    font-size: 42px;
}
.rol{
    font-size: 24px;
    margin-left: 10px;
}
.logo{
    float: right;
    margin-top: 5px;
    width: 14vw;
}
.avatar {
    margin-top: 10px;
    margin-left: 13px;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background-size: 100% auto;
    float: left;
}
.Contenedor_form_index{
    margin: 4vw;
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.959);
    color: #f28d35;
    border: 1vw outset #f28d35;
}
.logoIndex{ 
    width:  36vw;
}
.icon{
    width: 20px;
}
.iconFood{
    height: 40px;
    width: 40px;
}
.pedido{
    background-color: rgba(0, 0, 0, 0.925);
    width: 300px;
    height: 100px;
    margin: 20px;
    padding: 20px;
    float: left;
}
.mesa{
    background-color: rgba(0, 0, 0, 0.925);
    width: 200px;
    margin: 20px;
    padding: 20px;
    float: left;
}
.mesaClosed{
    background-color: rgba(0, 0, 0, 0.925);  
    margin: 20px;
    padding: 20px;
    float: left;
}
.partemesa{
    float: left;
    width: 150px;
    margin: 30px;
}
.partemesaDet{
    float: left;
    width: 160px;
    padding: 20px;
}
.lista{
    color: #f27830;
    margin-top: 20px;
    margin-left: 5vw;
    margin-right: 50px;
}
.lista h1{
    font-size: 30px;
    color: #f28d35;
    text-shadow: 2px 2px 2px black;
}
.entregado{
    height: 50px;
    float: right;
    border: 3px outset #35df0b;
    background-color: #30c20b;
    border-radius: 50%;
}
.detalle{
    height: 50px;
    float: right;
    border: 3px outset #d1f6ff;
    background-color: #a0e9ff;
    border-radius: 50%;
}
.ContenedorForm{
    padding: 2vw;
    margin: 6vw;
    width: 65vw;
    background-color: rgba(0, 0, 0, 0.925);
    color: #f28d35;
    text-align: center;
    font-size: 18px;
}
.detalleMesa{
    padding: 2vw;
    margin: 4vh;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.925);
    color: #f28d35;
    text-align: center;
}
.Formulario{
    display: block;   
    text-align: right;
}
.tituloFormulario{
    color: #f27830;
    font-size: 22px;
}
.cerrarMesa img{
    height: 50px;
    border: 5px outset #ff3838;
    background-color: #e61515;
    border-radius: 50%;
    margin-top: 20px;
}
.cambiarPag{
    position: fixed;
    right: 25px;
    top: 50vh;
}
.cambiarPag img{
    height: 40px;
    border: 5px outset #35df0b;
    background-color: #30c20b;
    border-radius: 50%;
    display: block;
    margin-top: 20px;
}
.historial img{
    width: 50px;
    background-color: rgba(0, 0, 0, 0.938);
    border: 5px outset #333333;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom:100px;  
}
.logout img{
    width: 50px;
    background-color: rgba(0, 0, 0, 0.938);
    border: 5px outset #333333;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom:30px;
}
.desarrolladores{
    position: fixed;
    right: 0px;
    bottom:0px;
    text-align: right;
    color: white;
    font-size: 1.6vh;
    background-color: rgba(0, 0, 0, 0.74);
}
