*{
    margin: 0px;
    padding: 0px;
}
body{
    background-size: cover;
    background-image: url("../images/fondo4.jpg") ;
}
.InfoPersonal{
    margin-top: 16px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.959);
    color: #f28d35;
    text-align: left;
}
.InfoPersonal p{
    padding-top: 70px;
    padding-left: 205px;
    font-size: 32px;
}
.logo{
    float: right;
    margin-top: 5px;
    width: 14vw;
}
.avatar {
    margin-top: 10px;
    margin-left: 13px;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background-size: 100% auto;
    float: left;
}
.Contenedor_form_index{
    margin: 4vw;
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.959);
    color: #f28d35;
    border: 1vw outset #f28d35;
}
.logoIndex{ 
    width:  36vw;
}
.icon{
    width: 20px;
}
.ContenedorForm{
    padding: 2vw;
    margin: 6vw;
    width: 65vw;
    background-color: rgba(0, 0, 0, 0.925);
    color: #f28d35;
    text-align: center;
}
.Formulario{
    display: block;   
    text-align: right;
}
.tituloFormulario{
    color: #f27830;
    font-size: 16px;
}
.logout img{
    display: block;
    width: 50px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.938);
    color: #f28d35;
    border: 0.5vw outset #272626;
    border-radius: 50%;
}
footer{
    display: block;
    position: fixed;
    right: 0px;
    bottom:0px;
    text-align: right;
    color: white;
    font-size: 1.6vh;
    background-color: rgba(0, 0, 0, 0.74);
}
